# Flutter/Dart
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub-cache/
.pub/
build/
*.iml

# Android
android/local.properties
android/.gradle
android/key.properties
*.jks
*.keystore

# iOS
ios/Flutter/Generated.xcconfig
ios/Flutter/flutter_export_environment.sh
ios/.symlinks/
ios/Pods/

# IDE
.idea/
.vscode/
*.swp
*.swo

# macOS
.DS_Store

# secrets
.env
